src/main/java/com/gillsoft/client/xsd/seats.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="seats">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="seat" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute type="xs:string" name="num" use="optional" />
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute type="xs:int" name="count" />
		</xs:complexType>
	</xs:element>
</xs:schema>